<?xml version="1.0"?>
<config>
    <modules>
        <ZendMonk_LoginRequired>
            <version>0.1.0</version>
        </ZendMonk_LoginRequired>
    </modules>
    <global>
		<helpers>
			<zendmonk_loginrequired>
				<class>ZendMonk_LoginRequired_Helper</class>
			</zendmonk_loginrequired>
		</helpers>
		<blocks>
			<zendmonk_loginrequired>
				<class>ZendMonk_LoginRequired_Block</class>
			</zendmonk_loginrequired>
		</blocks>
        <models>
            <zendmonk_loginrequired>
                <class>ZendMonk_LoginRequired_Model</class>
            </zendmonk_loginrequired>
        </models>
    </global>
    <frontend>
		<routers>
			<customer>
				<args>
					<modules>
						<zendmonk_loginrequired before="Mage_Customer">ZendMonk_LoginRequired</zendmonk_loginrequired>
					</modules>
				</args>
			</customer>
		</routers>
		<events>
			<controller_action_predispatch>
				<observers>
					<zendmonk_loginrequired>
                        <type>model</type>
						<class>ZendMonk_LoginRequired_Model_Observer</class>
                        <method>preDispatch</method>
					</zendmonk_loginrequired>
				</observers>
			</controller_action_predispatch>
			<controller_action_layout_load_before>
				<observers>
					<zendmonk_loginrequired>
                        <type>model</type>
						<class>ZendMonk_LoginRequired_Model_Observer</class>
                        <method>loadBefore</method>
					</zendmonk_loginrequired>
				</observers>
			</controller_action_layout_load_before>
			<varnish_cache_check_is_enabled>
				<observers>
					<zendmonk_loginrequired>
                        <type>model</type>
						<class>ZendMonk_LoginRequired_Model_Observer</class>
                        <method>checkVarnishCacheEnabled</method>
					</zendmonk_loginrequired>
				</observers>
			</varnish_cache_check_is_enabled>
		</events>
		<layout>
            <updates>
				<zendmonk_loginrequired module="ZendMonk_LoginRequired">
                    <file>zendmonk_loginrequired.xml</file>
                </zendmonk_loginrequired>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
		<translate>
            <modules>
                <zendmonk_loginrequired>
                    <files>
                        <default>ZendMonk_LoginRequired.csv</default>
                    </files>
                </zendmonk_loginrequired>
            </modules>
        </translate>
    </adminhtml>
	<default>
	    <web>
			<customer_login>
				<required>0</required>
				<enable_routes></enable_routes>
				<enable_urls></enable_urls>
				<redirect_to_login_page>1</redirect_to_login_page>
				<popup_title></popup_title>
				<popup_info_top></popup_info_top>
				<popup_info_bottom></popup_info_bottom>
				<disable_login_page>0</disable_login_page>
				<redirect_custom_url></redirect_custom_url>
			</customer_login>
		</web>
	</default>
</config>